{% load static %}

<footer class="footer-wrap">
    <div class="container">
        <div class="row pt-100 pb-75">
            <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6">
                <div class="footer-widget">
                    <a href="index.html" class="footer-logo">
                        <img src="{{settings.logo_light.url}}" alt="Image">
                    </a>
                    <p class="comp-desc">
                        Lorem ipsum dolor sit amet consc tetur adicing elit. Dolor emque dicta molest enim
                        beatae ame consequ atur tempo pretium auctor nam.
                    </p>
                    <ul class="social-profile style1 list-style">
                        <li>
                            <a target="_blank" href="https://facebook.com">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://instagram.com">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://linkedin.com">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Company</h3>
                    <ul class="footer-menu list-style">
                        <li>
                            <a href="about.html" target="_blank">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="blog-left-sidebar.html" target="_blank">
                                News &amp; Blog
                            </a>
                        </li>
                        <li>
                            <a href="team.html" target="_blank">
                                Our Team
                            </a>
                        </li>
                        <li>
                            <a href="converter.html" target="_blank">
                                Converter
                            </a>
                        </li>
                        <li>
                            <a href="alerts.html" target="_blank">
                                Exchange Rate
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Resources</h3>
                    <ul class="footer-menu list-style">
                        <li>
                            <a href="contact.html" target="_blank">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="faq.html" target="_blank">
                                FAQ's
                            </a>
                        </li>
                        <li>
                            <a href="app.html" target="_blank">
                                Download App
                            </a>
                        </li>
                        <li>
                            <a href="privacy-policy.html" target="_blank">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="terms-of-service.html" target="_blank">
                                Terms &amp; Conditions
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Transfer Money</h3>
                    <ul class="footer-menu list-style">
                        <li>
                            <a href="faq.html" target="_blank">
                                Register/Login
                            </a>
                        </li>
                        <li>
                            <a href="chart.html" target="_blank">
                                Currency Chart
                            </a>
                        </li>
                        <li>
                            <a href="faq.html" target="_blank">
                                USA Money Transfer
                            </a>
                        </li>
                        <li>
                            <a href="faq.html" target="_blank">
                                USA Money Transfer
                            </a>
                        </li>
                        <li>
                            <a href="privacy-policy.html" target="_blank">
                                Euro Money Transfer
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Contact Us</h3>
                    <ul class="contact-info list-style">
                        <li>
                            <i class="ri-map-pin-fill"></i>
                            <h6>Location</h6>
                            <p>2767 Sunrise Street, NY 1002, USA</p>
                        </li>
                        <li>
                            <i class="ri-mail-open-fill"></i>
                            <h6>Email</h6>
                            <a href="/cdn-cgi/l/email-protection#452d2029292a052630203d6b262a28"><span
                                    class="__cf_email__"
                                    data-cfemail="177f727b7b78577462726f3974787a">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class="ri-phone-fill"></i>
                            <h6>Phone</h6>
                            <a href="tel:13454567877">+1-3454-5678-77</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Cuex</span>. All Rights
                    Reserved By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
            </div>
        </div>
    </div>
</footer>